<h1>Oops!</h1>
<p>There was an error processing your request:</p>

<div class="error">
	<p><strong><?php echo $response->getError()->type ?>:</strong> <?php echo $response->getError()->message ?></p>
</div>
