<ion-view title="Iconic" id="page2">
    <ion-content padding="true" class="has-header">
        <div>
            <a style="display:block;" ui-sref="iconicDetail">
                <img src="img/IAu3bzYaSwOSxKybnWsr_1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <div>
            <a style="display:block;" ui-sref="iconicDetail">
                <img src="img/8fUY0IgGQDupce4O7RkN_2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <div>
            <img src="img/dOH1e8NdSee63Kr3z3PB_3.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <div>
            <img src="img/NIJlCScZTVOiHyyssLks_4.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <div>
            <img src="img/BW3rvxLRaaVhADTtETaq_5.png" width="100%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
    </ion-content>
</ion-view>