<ion-view title="Iconic Detail" id="page3">
    <ion-content padding="true" class="has-header">
        <h4 id="iconicDetail-heading2" style="color:#000000;">Narendra Modi</h4>
        <div>
            <img src="img/AfC1x3xRPqorigW1SA6W_1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <div id="iconicDetail-markdown1" style="color:#000000;">
            <p>There is something very beautiful about J&amp;K that draws me to the state so often. Always happy to be in J&amp;K.</p>

            <p>Sports complex inaugurated today will most certainly promote sports but at the same time it will enhance sportsman spirit, which is vital.</p>

            <p>Had a very good interaction with students of Shri Mata Vaishno Devi University. Delighted to see outstanding academic performance by girl students. Wished students the very best &amp; urged them to work for the welfare of the poor in any way
                possible in the future. http://www.narendramodi.in/pm-modi-at-the-5th-convocation-o…</p>
        </div>
    </ion-content>
</ion-view>