<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" name="password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="iconic" id="login-button1" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signup" id="login-button2" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>