<ion-view title="Signup" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="name">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" name="password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="iconic" id="signup-button3" class="button button-positive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>